@font-face {
    font-family: Lato-Light;
    src: url('../fonts/lato/fonts/Lato-Light.woff');
}

@font-face {
    font-family: Lato-Medium;
    src: url('../fonts/lato/fonts/Lato-Medium.woff');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto/RobotoMedium/RobotoMedium.woff');
}

body {
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

main section {
    position: relative;
}

.image {
    position: absolute;
    background-image: url("../images/code_background.png");
    background-position: center;
    width: 100%;
    height: 496px;
}

.border {
    position: absolute;
    top: 174px;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.15);
}

.title_background {
    position: absolute;
    background-image: url("../images/code_background.png");
    background-position: center -174px;
    top: 174px;
    width: 100%;
    height: 150px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.title {
    font-family: Lato-Light;
    font-weight: 100;
    position: absolute;
    top: 176px;
    width: 100%;
    text-align: center;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);

}

.nav_bar {
    margin-top: 493px;
    position: fixed;
    position: absolute;
    width: 100%;
    height: 69px;
    background-color: #2B2B2B;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
}

ul {
    min-width: 1366px;
    font-family: Roboto-Medium;
    font-size: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    margin: 500px auto;
    user-select: none;
}

li {
    font-family: Roboto-Medium;
    display: inline-block;
    width: 273px;
    height: 62px;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.active {
    font-family: Roboto-Medium;
    display: inline-block;
    width: 273px;
    height: 62px;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.slider {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #ffb367;
    transition: all 0.5s;
}

#actual {
     margin-left: 20px;
     margin-top: 600px;
     font-family: Lato-Medium;
     height: 62px;
     font-size: 20px;
     color: rgb(0, 0, 0);
     text-transform: uppercase;
     position: absolute;
     cursor: pointer;
}

#about {
    margin-left: 20px;
    margin-top: 600px;
    font-family: Lato-Medium;
    height: 62px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
}

#gallery {
    margin-left: 20px;
    margin-top: 600px;
    font-family: Lato-Medium;
    height: 62px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
}

#music {
    margin-left: 20px;
    margin-top: 600px;
    font-family: Lato-Medium;
    height: 62px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
}

#contacts {
    margin-left: 20px;
    margin-top: 600px;
    font-family: Lato-Medium;
    height: 62px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
}